div.card {
    width: 450px;
    height: 500px;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 7%;
    background-image: linear-gradient(to right, rgb(255, 128, 166), rgb(255, 225, 225), rgb(246, 27, 253));
}

div.signIn {
    text-align: center;
}
h2 {
    text-align: center;
}
body {
    background-image: linear-gradient(to right, rgba(40, 0, 85), rgba(67, 0, 145), rgba(40, 0, 85));
}
#submitButton {
    width: 200px;
    height: 40px;
}
#usernameButton {
    width: 900px;
}
.avatar {
    vertical-align: middle;
    width: 120px;
    height: 170px;
    border-radius: 100%;
    margin-left: 37%;
}

table{
    margin: auto;
}
  td, th{
    border: 1px solid black;
    height: 20px;
  }