
  td, th{
    border: 1px solid black;
    height: 20px;
  }
  #table{
    margin: auto;
    padding: 200px;
  }

  body {
    background-image: linear-gradient(to right, rgba(40, 0, 85), rgba(67, 0, 145), rgba(40, 0, 85));
}