img#bootstrapLogo{
    height: 50px;
}

body{
/* background-color: rgb(51,0,111);
*/
background-image: linear-gradient(to right, rgba(40, 0, 85), rgba(67, 0, 145), rgba(40, 0, 85));

}
div.card{
    width: 18rem;
}

div.jumbotron{
    width: 900px;
    margin: 0 auto;
}
.display-4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#searchBar{
background-color: aliceblue;
}
div.login{
    text-align: center;
    align-items: flex-start;
    background-color: aqua;
}
.lead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}