body {
    background-image: url("Images/Hobbitmap.jpg");
    background-color: #cccccc;
   }
table {
    table-layout: fixed;
}
td {
    width: 33%;
}
a {
    text-align: center;
    color: crimson;
}