body {
    background-image: linear-gradient(to right, rgba(40, 0, 85), rgba(67, 0, 145), rgba(40, 0, 85));
      color: white;
    }
    div{
      color: black;
      margin: auto;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .container {
      background-color: black;
      border: 10px solid #4b2e83;
    }
    #su {
      background-color: #990000;
      color: lightgray;
    }
    #ou {
      background-color: #154733;
      color: yellow;
    }
    #wsu {
      background-color: #981e32;
      color: #5e6a71;
    }
    #cal {
      background-color: #081f3f;
      color: #fcb326;
    }
    #uw {
      background-color: #4b2e83;
      color: #b7a57a;
    }
    #osu {
      background-color: #252525;
      color: #cc4500;
    }
    .container{
      background-color: white;
    }
    .col{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
      background-image: linear-gradient(to right, rgba(40, 0, 85), rgba(67, 0, 145), rgba(40, 0, 85));
        color: white;
        border: 1px solid black;
      }
      div{
        color: black;
        margin: auto;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .container {
        background-color: black;
        border: 10px solid #4b2e83;
      }
      #su {
        background-color: #990000;
        color: lightgray;
      }
      #ou {
        background-color: #154733;
        color: yellow;
      }
      #wsu {
        background-color: #981e32;
        color: #5e6a71;
      }
      #cal {
        background-color: #081f3f;
        color: #fcb326;
      }
      #uw {
        background-color: #4b2e83;
        color: #b7a57a;
      }
      #osu {
        background-color: #252525;
        color: #cc4500;
      }
      .container{
        background-color: white;
      }
      .col{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      }
      h1{
        color: rgb(232,211,162);
    }