#flag_frame{
    height: 400px;
}

#flag{
    height: 400px;
    width: 700px;
}

#starcell{
   background-color: blue;
   padding:6px;
   -ms-grid-row-span: 7;
}

#stars{
width: 210px;
color: white;
}

.red_stripe{
    background-color: red;
    width: 700px;
    height: 25px;
    column-span: 2;
}

.white_stripe{
    background-color: white;
    width: 400px;
    height: 25px;
}