<body>
  <table>
    <thead>
      <tr>
        <th>RADIUS</th>
        <th>AREA</th>
        <th>CIRCUMFERENCE</th>
        <th>DIAMETER</th>
      </tr>
    </thead>
    <tbody id = 'geo-body'>
    </tbody>
  </table>
</body>
      
      