table, td {
    border: 2px solid black;
}

td{
    height: 100px;
    width: 100px;
    text-align: center;
}

tr.rgb td{
    background-color: rgb(0,128,128);
    color: black;
}

tr.hsl td{
    background-color: hsl(180,100%,25%);
    color:black;
}

.op9{
    opacity: 0.9;
}

.op8{
    opacity: 0.8;
}

.op7{
    opacity: 0.7;
}

.op6{
    opacity: 0.6;
}

.op5{
    opacity: 0.5;
}

.op4{
    opacity: 0.4;
}

.op3{
    opacity: 0.3;
}

.op2{
    opacity: 0.2;
}

.op1{
    opacity: 0.1;
}

td.op1 div{
    opacity: 1.0;
    color: black;
    border: 3px solid red
}