img#jLetter{
    height: 50px;
}
.carousel-inner{
    max-width: fit-content;
}
div.card{
    margin: 25px;
    padding: 25px;
}

#backgroundImage{
    size: 1500px;
}
div.carousel-item{
    size: 1500px;
}