body {
    background-image: linear-gradient(to right, rgba(40, 0, 85), rgba(67, 0, 145), rgba(40, 0, 85));
}

th {
    margin: auto;
    background-color:  rgb(145,123,76);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dataTableJSCode{
    margin: auto;
    background-color: rgb(145,123,76);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: rgb(232,211,162);
}
.table{
    margin: auto;
}